# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore sketchbook backup files
*.bak
*.swp

# Ignore library dependencies folder
/sketches/libraries/*/

# ignore comparison files
test*-compare
test*-compare.ino

# ignore gif previews
*-preview.gif



